<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Autodesk Falcons </title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/store/css/style.css">
        <link rel="stylesheet" href="/static/css/vs-style.css" type="text/css">
        <script src="/static/common-files/js/jquery-1.10.2.min.js"></script>

    </head>
    <body>
        <div class="page-wrapper">
            <!-- header-8 -->
            <header class="header-8">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header ">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#"><img src="/static/common-files/icons/Spaceship@2x.png" width="50" height="50" alt=""> {{store_name}} </a>
                            </div>
                            <div class="collapse navbar-collapse ">
                                <ul class="nav">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>

            <!-- content-26  -->
            <section class="content-27" style="padding: 25px; height: 650px;">
                <div class="container">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <h3>Yuppieee!! your order is purchased</h3>
                        </div>
                        <div class="col-sm-12">
                            <a href="/store/{{storeid}}">Proceed Shopping</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer-10 -->
            <footer class="footer-10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="brand" href="#"><img src="/static/store/img/logo@2x.png" width="50" height="50"  alt=""> {{store_name}} </a>
                        </div>
                        <div class="col-sm-3">
                            <div class="box box-first">
                                <h6>New York, NY</h6>
                                <p>
                                    62 West 55th Street, Suite 302 New York, NY, 11230
                                </p>
                            </div>
                            <br class="hidden-phone">
                            <div class="box">
                                <h6>San Francisco, CA</h6>
                                <p>
                                    560 Judah St &amp; 195th Ave, San Francisco, CA, 230903
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-offset-1 box">
                            <h6>Help</h6>
                            <p>
                                Need help? Don’t hestiate to ask us something. Email us directly <a href="#">pronto@autodesk.com</a> or call us at 1-999-999-999.
                                You can checkout our <a href="#">FAQ</a> and <a href="#">Help</a>
                                page to get more information about our products.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="/static/flat-ui/js/bootstrap.min.js"></script>
        <script src="/static/common-files/js/modernizr.custom.js"></script>
        <script src="/static/common-files/js/easing.min.js"></script>
        <script src="/static/common-files/js/jquery.svg.js"></script>
        <script src="/static/common-files/js/jquery.svganim.js"></script>
        <script src="/static/common-files/js/startup-kit.js"></script>
        <script src="/static/store/js/script.js"></script>
    </body>
</html>
